---
import bash from "../assets/icons/bash.svg";
import lua from "../assets/icons/lua.svg";
import python from "../assets/icons/python.svg";
import ts from "../assets/icons/ts.svg";
import go from "../assets/icons/go.svg";
---

<div class="flex justify-center items-center">
  <img src={bash.src} alt="Bash Logo" class="w-14 h-14 mx-2" />
  <img src={lua.src} alt="Lua Logo" class="w-14 h-14 mx-2" />
  <img src={python.src} alt="Python Logo" class="w-14 h-14 mx-2" />
  <img src={ts.src} alt="TypeScript Logo" class="w-14 h-14 mx-2" />
  <img src={go.src} alt="Go Logo" class="w-14 h-14 mx-2" />
</div>
<div class="flex justify-center items-center text-sm mt-1">
  <p class="text-center text-base my-1">* and spanish</p>
</div>
