---
import aws from "../assets/icons/aws.svg";
import postgres from "../assets/icons/postgres.svg";
import kubernetes from "../assets/icons/kubernetes.svg";
import ansible from "../assets/icons/ansible.svg";
import terraform from "../assets/icons/terraform.svg";
import jenkins from "../assets/icons/jenkins.svg";
---

<div class="flex justify-center items-center">
  <img src={aws.src} alt="AWS Logo" class="w-14 h-14 mx-2" />
  <img src={postgres.src} alt="Postgres Logo" class="w-14 h-14 mx-2" />
  <img src={kubernetes.src} alt="Kubernetes Logo" class="w-14 h-14 mx-2" />
  <img src={ansible.src} alt="Ansible Logo" class="w-14 h-14 mx-2" />
  <img src={terraform.src} alt="Terraform Logo" class="w-14 h-14 mx-2" />
  <img src={jenkins.src} alt="Jenkins Logo" class="w-14 h-14 mx-2" />
</div>
